<!-- Interpolations -->
<!-- <p>Hello, welcome {{customerName}}</p> -->
<!-- <p>{{getCustomerName()}}</p> -->

<!-- Form -->
<app-welcome [customerName]="custName" (outputMsgEvent)="getDataFromChild($event)"></app-welcome>

<p>{{childData}}</p>

<div class="container">
    <div class="form-group">
        Account Name: <input type="text" class="form-control" [(ngModel)]="custName">
        <!-- <p>{{custName}}</p> -->
        Account Type: <input type="text" class="form-control" [(ngModel)]="type">
        <button style="margin-top: 20px;" type="button" class="btn btn-primary" (click) = "saveData()">Save</button>
    </div>

    <table class="table">
      <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of accountList">
            <td>{{i.name}}</td>
            <td>{{i.type}}</td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="navigateToDetails()">Details</button>
            </td>
        </tr>
      </tbody>
    </table>
</div> 

<!-- NgIf -->

<!-- <div>
    <p *ngIf="">flag is true</p>
    <p *ngIf="!flag">flag is false</p>
</div>

<div *ngIf="flag; else div2">
    <p>flag is true</p> 
</div>

<ng-template #div2>
    <p>flag is false</p> 
</ng-template> -->
